/* Credits: https://github.com/bgibout/blueboard */

body {
    color: #868ba1;
    background-color: #e9ecef;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-s
}

.page {
    margin: 0;
}

header {
    margin: 0 !important;
    border: 0 !important;
    background-color : #3B6998 !important;
}

.views {
	line-height: 30px;
}

.filter-box-component {
	padding-top: 5px;
}

.project-header .dropdown-component {
    margin-top: 4px;
    margin-right: 5px;
    float: left;
    line-height: 30px;
}

header h1 {
    color: #ffffff;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 2rem
}

.tooltip i.fa {
    color: #fff;
}

.btn {
    text-decoration: none;
    border-radius: 0;
    min-height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #3B6998;
    border-color: #386491;
    font-size: 12px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px
}

label {
    padding: 0px 40px 0 0px;
	line-height: 25px;
    vertical-align: middle;
    font-size: .9rem;
}

/*
	form {
    margin-top: 40px;
}
*/

fieldset {
	background: #ffffff;
}

select, span.select2 {
	width: 95% !important;
}


.select-dropdown-input {
	border: none !important;
}

.js-submit-buttons-rendered {
    margin-top: 40px;
}

.page .page-header {
    padding: 10px;
    background: #343a40;
    font-size: 0.9rem;
    margin: 0;
}

.page-header a {
    color: #ffffff;
    text-decoration: none;
}

#config-section .page-header a {
    color: #000;
    font-size: 0.8rem;
}

.page-header a .fa {
    color: #868e96;
}

.menus-container .dropdown-menu a i.fa {
    color: #ffffff;
}

.margin-bottom {
    margin-bottom: 20px;
    padding: 10px;
}

#task-summary {
    margin: 20px;
}

.accordion-section {
    margin: 20px;
    background: #fff;
    padding: 50px 30px;
}

.project-overview-column {
    background: #fff;
}

.table-list {
    font-size: 0.85em;
    margin-bottom: 20px;
    padding: 10px;
    background: #ffffff;
}

.table-list-header {
    background: #fbfbfb;
    border: 1px solid #e5e5e5;
    border-radius: 5px 5px 0 0;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 3px;
    height: 30px;
}

.table-list-row {
    padding: 10px;
}

.sidebar-content {
    background: #f8f9fa;
    margin-top: 10px;
    padding: 10px;
}

.sidebar-container {
    height: 100%;
    width: 100%;
}

.sidebar-container .page-header {
    background: none;
}

.sidebar {
    margin-top: 20px;
}

.sidebar ul {
    margin-top: 10px;
}

.sidebar ul:before {
    content: "Navigation";
    text-transform: uppercase;
    font-size: 11px;
    padding: 7px 15px;
    display: block;
    margin-bottom: 0;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.sidebar ul>li {
    padding: 5px 0 0 15px;
    border-top: 1px solid #ced4da;
}

.sidebar ul>li:last-child {
    border-bottom: 1px solid #ced4da;
}

.sidebar ul>li a {
  color: #868e96;
  font-size: 0.9rem;
}

.sidebar>ul li.active {
    background-color: #f8f9fa
}

.sidebar ul>li.active a {
    color: #343a40;
}

#modal-box {
    padding: 20px 20px 30px 20px;
}

table {
    color: #000;
}

table.table-fixed th {
    background: #3B6998;
}
table.table-fixed th, table.table-fixed th a {
    color: #ffffff ;
}

table.table-fixed th, table.table-fixed td {
    padding-left: 10px;
}

.board-add-icon i {
	color: #3B6998;
}


@media (max-width: 768px) {
	.sidebar {
	max-width: 100%;
	}
}

#board-container {
  padding: 0px 10px 0px 10px !important;
  background: #e9ecef;
}
.board-column-expanded {
  padding-left: 2px;
}

.project-header .action-menu {
  margin-left: 10px;
}

/* code from refactor.css */

#board {
  background: #fcfcfc;
}
#board td {
  padding: 10px;
}
.board-column-header > div {
  text-align: center;
  position: relative;
}
.board-column-header > div .board-add-icon {
  position: absolute;
  left: 0;
}
.task-board {
  border-radius: 2px;
  border-width: 0 !important;
  /* background-color: white !important; */
  box-shadow: 0 0 15px #e0e0e0;
  padding: 10px;
  padding-left: 15px;
  transition: 0.1s ease box-shadow;
  overflow: hidden;
  margin: 10px 0px;
}
.task-board:hover {
  box-shadow: 0 0 15px #bbb;
}
.task-board::before {
  content: "";
  width: 5px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.table-list-row {
  padding: 10px;
}
.table-list-row:hover {
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.task-form-secondary-column {
  font-size: 10pt;
}
.form-actions .btn {
  border-radius: 0px;
  padding: 5px 20px;
  margin: 0 10px 0 0;
}
.form-actions a {
  padding: 5px 10px;
}
.select2-selection {
  border-radius: 0px !important;
}
.select2-dropdown {
  border-radius: 0px !important;
  margin-top: -2px !important;
}
.color-picker-option {
  height: 26px;
  line-height: 30px;
  vertical-align: middle;
  font-size: 10pt;
}
.task-form-main-column {
  padding-right: 40px;
}
.task-form-main-column input#form-title {
  width: 100%;
  max-width: 100%;
}
.task-form-main-column input#form-title + .form-required {
  position: absolute;
  margin-left: -15px;
}
.accordion-title h3 {
  padding: 4px !important;
}
.text-editor {
  border: 1px solid #ccc;
  border-bottom-width: 0px;
}
.text-editor .text-editor-write-mode .text-editor-toolbar,
.text-editor .text-editor-view-mode .text-editor-toolbar {
  line-height: 40px;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 10px;
  padding-left: 10px;
}
.text-editor .text-editor-write-mode textarea,
.text-editor .text-editor-write-mode .text-editor-preview-area,
.text-editor .text-editor-view-mode textarea,
.text-editor .text-editor-view-mode .text-editor-preview-area {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 0px 10px;
  box-sizing: border-box;
  border-width: 0px;
  border-bottom-width: 1px;
  top: 4px;
}
.text-editor .text-editor-write-mode .text-editor-preview-area,
.text-editor .text-editor-view-mode .text-editor-preview-area {
  top: 0px;
}
.task-board.color-yellow::before {
  background: #ffeb3b;
}
.color-picker-square.color-yellow {
  background: #ffeb3b;
  border-width: 0;
}
.table-list-row.color-yellow {
  border-left: 5px solid #ffeb3b;
}
.task-board.color-blue::before {
  background: #2196f3;
}
.color-picker-square.color-blue {
  background: #2196f3;
  border-width: 0;
}
.table-list-row.color-blue {
  border-left: 5px solid #2196f3;
}
.task-board.color-green::before {
  background: #4caf50;
}
.color-picker-square.color-green {
  background: #4caf50;
  border-width: 0;
}
.table-list-row.color-green {
  border-left: 5px solid #4caf50;
}
.task-board.color-purple::before {
  background: #9c27b0;
}
.color-picker-square.color-purple {
  background: #9c27b0;
  border-width: 0;
}
.table-list-row.color-purple {
  border-left: 5px solid #9c27b0;
}
.task-board.color-red::before {
  background: #f44336;
}
.color-picker-square.color-red {
  background: #f44336;
  border-width: 0;
}
.table-list-row.color-red {
  border-left: 5px solid #f44336;
}
.task-board.color-orange::before {
  background: #ff9800;
}
.color-picker-square.color-orange {
  background: #ff9800;
  border-width: 0;
}
.table-list-row.color-orange {
  border-left: 5px solid #ff9800;
}
.task-board.color-grey::before {
  background: #9e9e9e;
}
.color-picker-square.color-grey {
  background: #9e9e9e;
  border-width: 0;
}
.table-list-row.color-grey {
  border-left: 5px solid #9e9e9e;
}
.task-board.color-brown::before {
  background: #795548;
}
.color-picker-square.color-brown {
  background: #795548;
  border-width: 0;
}
.table-list-row.color-brown {
  border-left: 5px solid #795548;
}
.task-board.color-deep_orange::before {
  background: #ff5722;
}
.color-picker-square.color-deep_orange {
  background: #ff5722;
  border-width: 0;
}
.table-list-row.color-deep_orange {
  border-left: 5px solid #ff5722;
}
.task-board.color-dark_grey::before {
  background: #424242;
}
.color-picker-square.color-dark_grey {
  background: #424242;
  border-width: 0;
}
.table-list-row.color-dark_grey {
  border-left: 5px solid #424242;
}
.task-board.color-pink::before {
  background: #e91e63;
}
.color-picker-square.color-pink {
  background: #e91e63;
  border-width: 0;
}
.table-list-row.color-pink {
  border-left: 5px solid #e91e63;
}
.task-board.color-teal::before {
  background: #009688;
}
.color-picker-square.color-teal {
  background: #009688;
  border-width: 0;
}
.table-list-row.color-teal {
  border-left: 5px solid #009688;
}
.task-board.color-cyan::before {
  background: #00bcd4;
}
.color-picker-square.color-cyan {
  background: #00bcd4;
  border-width: 0;
}
.table-list-row.color-cyan {
  border-left: 5px solid #00bcd4;
}
.task-board.color-lime::before {
  background: #cddc39;
}
.color-picker-square.color-lime {
  background: #cddc39;
  border-width: 0;
}
.table-list-row.color-lime {
  border-left: 5px solid #cddc39;
}
.task-board.color-light_green::before {
  background: #8bc34a;
}
.color-picker-square.color-light_green {
  background: #8bc34a;
  border-width: 0;
}
.table-list-row.color-light_green {
  border-left: 5px solid #8bc34a;
}
.task-board.color-amber::before {
  background: #ffc107;
}
.color-picker-square.color-amber {
  background: #ffc107;
  border-width: 0;
}
.table-list-row.color-amber {
  border-left: 5px solid #ffc107;
}
@media (max-width: 768px) {
  header {
    margin-bottom: 50px;
  }
}
.task-board {
  background-color: #fff !important;
}
