/* General values */
* {
  font-family: Roboto, "Open Sans", sans-serif;
  outline: 0 !important;

  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

a:hover {
  text-decoration: none !important;
}

/* Header */
header {
  border: none;
}
header .menus-container i {
  padding: 4px;
  background: #fff;
  border: 1px solid #ccc;
}
header .menus-container i.fa-caret-down {
  padding: 4px;
  background: transparent;
  border: none;
}

/* Alert fading */
.alert-fade-out {
  position: fixed;
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  width: 50%;
  text-align: center;
  border: none;
  padding: 20px;
  z-index: 1000;
}

/* Headings */

.project-header h1,
.project-header h2,
.project-header h3,
.project-header h4,
.project-header h5,
.project-header h6,
.page-header h1,
.page-header h2,
.page-header h3,
.page-header h4,
.page-header h5,
.page-header h6 {
  padding-bottom: 0.6em;
}


/* Table list */
.table-list {
  background-color: #fff;
  margin-bottom: 2em;
  border: 1px solid #ccc;
}

.table-list .table-list-header {
  border: none;
  background: #f2f2f2;
}

.table-list .table-list-header * {
  line-height: 18px;
}
.table-list .table-list-header,
.table-list .table-list-row {
  padding: 0.5em 1em 0.5em 1em;
}

.table-list .table-list-row .dropdown {
  float: right;
}

.table-list .table-list-row {
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #efefef;
}

/* Modal */
#modal-header {
  float: right;
}
#modal-header a#modal-close-button i {
  font-size: 2em !important;
}
#modal-content {
  padding: 1em 1.5em;
}


/* Task */
#task-view div,
#task-view span,
#task-view a,
#task-view p {
  /* text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
}
#task-view #task-summary h2 {
  margin-bottom: 0.6em;
  margin-left: 10px;
}
#task-view .sidebar-container {
  margin-top: 3em;
}
#task-view .buttons-header {
  margin: 10px;
}
#task-view .task-summary-container {
  border: none;
  padding: 20px;
  margin: 10px;
}
#task-view .accordion-section {
  background: #fff;
  padding: 20px;
  margin: 10px;
}

#board td {
  border-radius: 0px !important;
}

.views-switcher-component li {
  background: transparent;
  border: none !important;
}

.input-addon-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


#dashboard .sidebar-title {
  font-size: 1em;
}
#dashboard .dashboard-sidebar-extras i {
  display: none;
}


/* Remove sidebar icons */
.sidebar-icons i.fa {
  display: none;
}
.sidebar-icons > ul li {
  padding-left: 13px;
}
.sidebar-icons > ul li:hover {
  border-left: 5px solid #555;
  padding-left: 8px;
}
.sidebar-icons > ul li.active {
  border-left: 5px solid #333;
  padding-left: 8px;
}

/* Filter box */
#dashboard .filter-box {
  max-width: none;
}

#dashboard .filter-box .input-addon-field,
#dashboard .filter-box .input-addon-item {
  padding: 6px;
  height: auto;
}


#dashboard .table-list-row > div {
  display: inline-block;
}

#dashboard .table-list-details,
#dashboard .task-list-avatars,
#dashboard .table-list-row .dropdown {
  display: none !important;
}


.dashboard-project-list small {
  font-size: 14px !important;
  color: #ccc;
  padding-top: 10px;
  display: block;
}

.dashboard-stats {
  display: none;
}

/* Colour picker fix */

.color-picker-option {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 5px;
}
/* Cards table */
.table-list.card-list {
  display: flex;
  flex-wrap: wrap;
}

.table-list.card-list .table-list-header {
  width: 100%;
}

.table-list.card-list .table-list-row .dropdown {
  margin: 3px 0px 0px 5px;
}

.table-list.card-list .table-list-row {
  flex-direction: row;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #efefef;
  border-right: 1px solid #efefef;
  width: 100%;
}
.table-list.card-list .table-list-row:hover {
}

.table-list.card-list .table-list-details .table-list-details-item {
  display: inline-block;
  min-width: 100px;
}
@media screen and (min-width: 40em) {
  .table-list.card-list .table-list-row {
    width: calc(50% - 31px);
  }
}

@media screen and (min-width: 60em) {
  .table-list.card-list .table-list-row {
    width: calc(33.333% - 31px);
  }
}

/* This file contains css alterations to plugins */

#bigboard #main,
body > .project-header {
  clear: both;
  padding: 10px;
  overflow: hidden;
}

#bigboard .project-header {
  margin-left: 25px;
  margin-right: 25px;
}

#bigboard #main .header h1 {
  padding-bottom: 0.6em !important;
}
#bigboard #board-container {
  background-color: #fff;
}
#bigboard #main #board-container {
  border: none !important;
}
#bigboard tr.board-swimlane td {
  padding: 10px;
  border-top: none;
  border-bottom: none;
}
#bigboard .task-board .task-board-header,
#bigboard .task-board .task-board-icons {
  display: none;
}

/* Register link */
.register-link {
  margin-top: 20px;
}
