@media only screen and (min-width: 768px) {
  .kanext-dashboard-container {
    display: flex;
    width: 100%;
  }

  .kanext-dashboard-container-center {
    width: 60%;
  }

  .kanext-dashboard-container-right {
    width: 38%;
    margin-left: 1px;
    margin-left: 2%;
  }
}

*,
*:hover,
*:active,
*:focus {
  outline: 0 !important;
}
