input[type=radio] {
  width: auto !important;
  display: inline-block !important;
}

/* Remove when theme is changed */
.task-board-header .task-board-avatars {
  display: none !important;
}

.activity-event .activity-content .activity-title {
  display: block !important;
}

#dashboard .dashboard-activity {
  border: 1px solid #ccdcf3;
  border-top: none !important;
  border-radius: 5px;
  background-color: #f0f6ff;
  border-color: #ccdcf3;
}

#dashboard .accordion-title {
  margin: 0;
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
  border-top: 1px solid #ccdcf3;
  border-bottom: 1px solid #ccdcf3;
}

#dashboard .activity-event {
  border: none !important;
  align-items: normal !important;
  overflow: auto;
  word-break: break-all;
}

.board-swimlane-columns-empty {
  display: none !important;
}


/* Responsive fixes */
@media only screen and (max-width: 767px) {
  .board-selector-container {
    display: none !important;
  }

  header .title-container h1{
    font-size: 24px;
    line-height: 100%;
  }

  header .title-container {
    float: left !important;
  }
  header .title-container .tooltip,
  header .title-container span.title {
    display: none !important;
  }

  header .menus-container {
    width: auto !important;
  }

  /* Selector for project links menu on homepage */
  .page > #main > .page-header {
    display: none !important;
  }

  .sidebar .fa {
    display: none !important;
  }

  /* Fix for menu buttons */
  .project-header .views-switcher-component .views li a {
    font-size: 0;
  }
  .project-header .views-switcher-component .views li a i {
    font-size: 16px;
  }

  .dashboard-activity .avatar-letter {
    line-height: 24px !important;
    width: 24px !important;
    max-width: 24px !important;
    font-size: .7em !important;
  }
}
