/* Customize board */
#board-container {
  margin: 0 -10px;
}

#board .board-swimlane-header {
  background: #f3f3f3;
}

#board .board-add-icon {
  position: relative;
  float: right;
}

#board span[title='Task count'] {
  display: none;
}

#board .board-column-header > div {
  text-align: left;
}

#board .board-column-header-task-count {
  display: none;
}

#board tr td,
#board tr th {
  border: 5px solid #f3f3f3;
  border-left: 10px solid #f3f3f3;
  border-right: 10px solid #f3f3f3;
}

#board td {
  padding: 0 !important;
}

#board .board-task-list .task-board {
  margin: 0 0 0 0 !important;
  box-shadow: none;
  border: 1px solid #ccc !important;
  border-bottom: none !important;
}

#board .board-task-list .task-board:last-child {
  margin-bottom: 0 !important;
  border-bottom: 1px solid #ccc !important;
}

#board .task-tags li {
  background: #f1f1f1;
  border: #f1f1f1;
  border-radius: 4px !important;
  padding: 3px;
}

#board .task-board-title {
  margin-top: 10px;
}

#board .task-board-category {
  border-radius: 4px !important;
  padding: 3px;
}

#board .task-board-icons .task-board-icons-row {
  display: none;
}
