/* Filter box */
#dashboard .filter-box {
  max-width: none;
}

#dashboard .filter-box .input-addon-field,
#dashboard .filter-box .input-addon-item {
  padding: 6px;
  height: auto;
}

#dashboard .task-list-avatars {
  display: none !important;
}

#dashboard .sidebar-title {
  font-size: 1em;
}

#dashboard .dashboard-sidebar-extras i {
  display: none;
}

#dashboard .task-icon-age {
  display: none;
}

.dashboard-project-list small {
  font-size: 14px !important;
  color: #ccc;
  padding-top: 10px;
  display: block;
}


.dashboard-content {
  width: 70%;
  float: left;
}
.dashboard-activity {
  padding: 20px 10px 0px 10px;
  margin-left: 20px;
  border: 1px dotted #ccc;
  width: calc(30% - 50px);
  overflow: auto;
  text-align: center;
  float: right;

  .activity-header {
    padding: 0px 0px 15px 15px;
    overflow: hidden;
    text-align: left;
  }

  .activity-event {
    width: 90% !important;
    display: inline-block;
    text-align: left;
  }
}

@media (max-width: 900px) {
  .dashboard-content {
    width: 100%;
  }
  .dashboard-activity {
    display: none;
  }
}
