/* Bigboard */
#bigboard #main,
body > .project-header {
  clear: both;
  padding: 10px;
  overflow: hidden;
}

#bigboard .project-header {
  margin-left: 25px;
  margin-right: 25px;
}

#bigboard #main .header h1 {
  padding-bottom: 0.6em !important;
}

#bigboard #board-container {
  background-color: #fff;
}

#bigboard #main #board-container {
  border: none !important;
}

#bigboard tr.board-swimlane td {
  padding: 10px;
  border-top: none;
  border-bottom: none;
}

#bigboard .task-board .task-board-header,
#bigboard .task-board .task-board-icons {
  display: none;
}
