/* Task */
#task-view a,
#task-view div,
#task-view p,
#task-view span {
  /* text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
}

#task-view span {
  clear: both;
  display: block;
}

#task-view .sidebar-container {
  margin-top: 3em;
}

#task-view .buttons-header {
  margin: 10px 0;
}

#task-view .task-summary-container {
  border: none;
  padding: 20px;
}

#task-view .accordion-section {
  background: #fff;
  padding: 20px;
}

#task-view h2 {
  font-size: 1em;
  margin-bottom: 10px;
}

#task-view #task-summary h2 {
  font-size: 1.4em;
  margin-bottom: 20px;
}

.task-board-status-closed .task-board-title {
  text-decoration: line-through !important;
}

.task-list-avatars {
  float: none;
}

.table-list-details,
.task-list-icons {
  display: inline-block;
}

.task-list-icons {
  float: right;
}
