.sidebar {
  display: none;
  position: absolute !important;

  top: 50px;
  left: 50px;

  z-index: 999;
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px !important;
}

.sidebar-content {
  padding-left: 55px !important;
  position: relative;
}

.button-minimize {
  position: absolute;
  top: 0;
  left: 5px;
}
